
<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Sell Master</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="http://getbootstrap.com/examples/cover/#">Home</a></li>
                            <li><a href="http://getbootstrap.topcom/examples/cover/#">Features</a></li>
                            <li><a href="http://getbootstrap.com/examples/cover/#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Sell Master</h1>
                <p class="lead">Use Sell Master to synchronize your eBay and Shopify and lower your operational cost</p>
                <p class="lead">
                    <div class="row">
                        {{#if shopifyLogin}}
                        {{#if eBayLogin}}
                        <div class="form-group label-floating col-sm-6">
                        {{else}}
                        <div class="form-group label-floating col-sm-6 col-centered">
                        {{/if}}
                            <label for="i5" class="control-label" style="right: 30%">Your Shopify Store</label>
                            <input type="text" class="form-control" id="i1">
                            <span class="help-block">Enter <code>mystore</code> as in <span class="text-primary">mystore.myshopify.com</span></span>
                            <button class="btn btn-raised btn-default oauth-button" id="oauth-button-shopify">
                                <span>Shopify Login</span>
                            </button>
                        </div>
                        {{/if}}
                        {{#if eBayLogin}}
                        {{#if shopifyLogin}}
                        <div class="form-group label-floating col-sm-6">
                        {{else}}
                        <div class="form-group label-floating col-sm-6 col-centered">
                        {{/if}}
                            <label for="i5" class="control-label" style="right: 30%">Your eBay Store</label>
                            <input type="text" class="form-control" id="i2">
                            <span class="help-block">Enter your ebay username</span>
                            <button class="btn btn-raised btn-default oauth-button" id="oauth-button-ebay">
                                <span>eBay Login</span>
                            </button>
                        </div>
                        {{/if}}
                        {{#if authenticated}}
                        <div class="form-group label-floating col-sm-6 col-centered">
                            <a href="/dashboard" class="btn btn-raised btn-success">
                                Start Synchronizing
                            </a>
                        </div>
                        {{/if}}
                    </div>

                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Copyright 2017 @<a href="">SellMaster Team</a></p>
                </div>
            </div>

        </div>
        {{#if topbar}}
        <div class="container" id="topBar">
            {{{topbar.text}}}
        </div>
        {{/if}}

    </div>
    {{#if message}}
    <p style="display:none" id="message">
        {{message}}
    </p>
    {{/if}}
    {{#if messageStyle}}
    <p style="display:none" id="messageStyle">
        {{messageStyle}}
    </p>
    {{/if}}
</div>
<a href="https://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
